<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://unpkg.com/tailwindcss@0.3.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>

  <body style="background: #edf2f7">
    <div>
      <nav
        class="relative select-none bg-black lg:flex lg:items-stretch w-full"
      >
        <div class="flex flex-no-shrink items-stretch h-12">
          <a
            href="/"
            class="flex-no-grow flex-no-shrink relative py-2 px-4 leading-normal text-white no-underline flex items-center hover:bg-grey-dark"
            >Tutorial Scraping</a
          >
          <a
            href="/detik"
            class="flex-no-grow flex-no-shrink relative py-2 px-4 leading-normal text-white no-underline flex items-center hover:bg-grey-dark"
            >Detik Scraping</a
          >
          <button
            class="block lg:hidden cursor-pointer ml-auto relative w-12 h-12 p-4"
          >
            <svg
              class="fill-current text-white"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
            >
              <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
            </svg>
            <svg
              class="fill-current text-white"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
            >
              <path
                d="M10 8.586L2.929 1.515 1.515 2.929 8.586 10l-7.071 7.071 1.414 1.414L10 11.414l7.071 7.071 1.414-1.414L11.414 10l7.071-7.071-1.414-1.414L10 8.586z"
              />
            </svg>
          </button>
        </div>
      </nav>

      <div class="container">
          {% for img in image %} 
          {{img|safe}} 
          <p>{{img['title']}}</p>
          {% endfor %}
      </div>
    </div>
  </body>
</html>
